.score-board {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid darkgray;
    padding: 2px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.score-board .score-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
