@{
    ViewData["Title"] = "NumberGo";
}
@section head
{
    <meta name="description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="Numbers and calculation game." />
}
<!-- Game -->
<div id="game"></div>
<!-- Background Image -->
<div id="bg-image"></div>
<!-- Menu -->
<div id="menu"></div>
<!-- Result -->
<div id="result"></div>
<!-- Loading -->
<div id="loading"></div>

<script src="~/js/main.min.js"></script>