@{
    ViewData["Title"] = "Server Error";
}
@section head
{
    <meta name="robots" content="noindex,nofollow">
}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h4 class="font-weight-bold text-danger">Server cannot response</h4>
            </div>
        </div>
    </div>
</div>